@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
    color: white;
}